{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<table class="table">
  <thead>
    <tr>
      <th scope="col">N°</th>
      <th scope="col">Titre</th>
      <th scope="col">Annee</th>
      <th scope="col">Image</th>
      <th scope="col">Synopsis</th>
      <th scope="col">Cree le</th>
      <th scope="col">Modifie le</th>
    </tr>
  </thead>
  <tbody>
    {% for film in films %}
    <tr>      
      <td>{{ film.id }}</td>
      <td>{{ film.titre }}</td>
      <td>{{ film.annee }}</td>
      <td>{{ film.image }}</td>
      <td>{{ film.synopsis }}</td>
      <td>{{ film.createdAt|date('d/m/Y') }}</td>
      <td>{{ film.updatedAt|date('d/m/Y') }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
